.main-menu {
  a {
    display: block;
    padding: 5px 10px;

    &:link,
    &:visited {
      background-color: $primary-100;
      color: $text-color-inverted;
      margin-bottom: 5px;
      text-decoration: none;

      @media #{$mq-tablet-and-up} {
        background-color: inherit;
        color: $text-color;
      }
    }

    &:hover,
    &:focus {
      background-color: $primary-200;

      @media #{$mq-tablet-and-up} {
        background-color: inherit;
        color: $primary-100;
      }
    }

    &[aria-current="page"] {
      border-bottom: 2px solid #333;
      font-weight: bold;
    }
  }
}
