@charset "UTF-8";
/* See https://hankchizljaw.com/wrote/a-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  /* We are relaxing the `declaration-no-important` here
     because we want to ensure that code further down the
     cascade will adhere to this accessibility enhancement */
  /* stylelint-disable declaration-no-important */
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font: 16px/1.5 sans-serif;
}

button,
.button,
a.button {
  cursor: pointer;
}

.ghost,
a.ghost {
  background: none;
  padding: 0;
  border: 0;
}

.site-header {
  padding: 10px;
}
@media all and (min-width: 47.9385em) {
  .site-header {
    padding: 60px 0;
  }
}

.main-menu-toggle {
  padding: 10px;
  padding-left: 0;
}
.main-menu-toggle::before {
  display: block;
  content: "";
  background: transparent url("../media/iconography/menu-open.svg") 0 0 no-repeat;
  background-size: 18px 12px;
  width: 18px;
  height: 12px;
}
.main-menu-toggle.expanded::before {
  background-image: url("../media/iconography/menu-close.svg");
}
@media all and (min-width: 47.9385em) {
  .main-menu-toggle {
    display: none;
  }
}

.main-menu {
  display: none;
}
@media all and (min-width: 47.9385em) {
  @supports (display: flex) {
    .main-menu {
      display: flex;
      justify-content: space-evenly;
    }
  }
}

.top-level-entry-container {
  position: relative;
}
@media all and (min-width: 47.9385em) {
  .top-level-entry-container {
    display: inline-block;
    margin-right: 20px;
  }
  @supports (display: flex) {
    .top-level-entry-container {
      margin-right: inherit;
    }
  }
}

.top-level-entry {
  display: block;
  color: #212121;
  margin: 0;
  padding: 10px;
  width: 100%;
  text-align: left;
  text-decoration: none;
}

button.top-level-entry::after {
  display: inline-block;
  content: "▼";
  margin-left: 5px;
  width: 12px;
  height: 12px;
  font-size: 12px;
}

.subnav a {
  display: block;
  color: #1e7f9d;
  padding: 10px;
  text-decoration: none;
}
@media all and (min-width: 47.9385em) {
  .subnav {
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 0;
    border: solid 1px #e0e0e0;
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 rgba(12, 12, 13, 0.1);
    min-width: 200px;
    min-width: max-content;
  }
}

.hidden {
  display: none;
}

.show {
  display: flex;
  flex-flow: column;
}
@media all and (min-width: 47.9385em) {
  .show {
    flex-flow: row;
  }
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}

/*# sourceMappingURL=menu.css.map */
