.logo {
  display: block;
  background: transparent url("/media/logo.svg") 0 0 / 274px 41px no-repeat;
  width: 274px;
  height: 41px;

  @media #{$mq-small-desktop-and-up} {
    flex-basis: 30%;
  }
}
