$black: #000;
$neutral-900: #1b1b1b;
$neutral-800: #343434;
$neutral-700: #4e4e4e;
$neutral-600: #6d6d6d;
$neutral-500: #8a8a8a;
$neutral-400: #a4a4a4;
$neutral-300: #bababa;
$neutral-200: #d5d5d5;
$neutral-100: #e9e9e9;
$white: #fff;
