$xxl-font-size: 4rem;
$xl-font-size: 3rem;
$large-font-size: 2.2rem;
$medium-font-size: 1.2rem;
$small-font-size: 0.9rem;

$xxl-font-size-mobile: 3rem;
$xl-font-size-mobile: 2rem;
$large-font-size-mobile: 1.5rem;
$medium-font-size-mobile: 1rem;
