<footer class="page-footer">
  <div class="girdle">
    <a class="logo" href="/">
      <span class="visually-hidden">web://workbook</span>
    </a>
    <p class="made-by">
      Made with love by the the
      <a href="https://github.com/the-mycelium-network/"
        >Mycelium Network community</a
      >.
    </p>
    <ul class="reset-list social-links">
      <li>
        <a class="icon icon-discord" href="https://discord.gg/ugNmjYsU3v">
          <span class="visually-hidden">Join the community on Discord</span>
        </a>
      </li>
      <li>
        <a
          class="icon icon-github"
          href="https://github.com/The-Mycelium-Network/webworkbook"
        >
          <span class="visually-hidden">Contribute on GitHub</span>
        </a>
      </li>
    </ul>
  </div>
</footer>
