<nav aria-label="Sidebar navigation" class="sidebar-navigation">
  <h3>Related topics</h3>
  <ul class="reset-list">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      {{ if .HasChildren }}
      <li>
        <details>
          <summary>
            {{ .Name }}
          </summary>
          <ul class="reset-list">
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ range .Children }}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </details>
      </li>
      {{ else }}
      <li>
        <a href="{{ .URL }}">{{ .Name }}</a>
      </li>
      {{ end }}
    {{ end }}
  </ul>
</nav>
